* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;     
}

table {
  border-collapse: collapse;
}

td {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  text-align: center;
}

td:hover {
  background: blanchedalmond;
  cursor: pointer;
}
